.main{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.34);
}

.modalContainer{
    position: relative;
    z-index: 11;
    width: 40%;
    height: 60%;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.modalPasswordContainer{

    margin: 15%;    
}

.passwordTitle{
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 43px;
text-align: center;
letter-spacing: -0.02em;

color: #808080;


}

.passwordContainer{
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}


.wrong{
    width: 100%;
    margin-top: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 29px;

    color: #F55454;
}


.passwordItem{
    width: 20%;
    height: 100px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 40px;
    text-align: center;
}

