.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
width: 500px;
height: 230px;

background: #FFFFFF;
border: 1px solid #C0C0C0;
box-shadow: 1px 4px 14px rgba(0, 0, 0, 0.15);
border-radius: 8px;

}

.margin{
    margin: 8%;
}


.title{
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 46px;
display: flex;
align-items: center;
letter-spacing: -0.02em;

color: #5467F5;


}

.passwordContainer{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.input{
    width: 300px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #C0C0C0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 0 5%;
}

.btn{
    width: 75px;
    height: 60px;
    filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.25));
    background: #5467F5;
    border-radius: 4px;
    outline: none;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}